In [7]:
import pandas as pd

data_importada = pd.read_csv(r'C:\Users\Personal\Downloads\archive\car_price_dataset.csv',sep=',',decimal='.')
df_data_csv = pd.DataFrame(data_importada)

In [8]:
print(df_data_csv.info()), print(df_data_csv.describe()), print(df_data_csv.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         10000 non-null  object
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Engine_Size   10000 non-null  float64
 4   Fuel_Type     10000 non-null  object
 5   Transmission  10000 non-null  object
 6   Mileage       10000 non-null  int64
 7   Doors         10000 non-null  int64
 8   Owner_Count   10000 non-null  int64
 9   Price         10000 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 781.4+ KB
None
               Year   Engine_Size        Mileage         Doors   Owner_Count  \
count  10000.000000  10000.000000   10000.000000  10000.000000  10000.000000
mean    2011.543700      3.000560  149239.111800      3.497100      2.991100
std        6.897699      1.149324   86322.348957      1.110097      1.422682
min     2000.000000      1.000000      25.000000      2.000000      1.000000
25%     2006.000000      2.000000   74649.250000      3.000000      2.000000
50%     2012.000000      3.000000  149587.000000      3.000000      3.000000
75%     2017.000000      4.000000  223577.500000      4.000000      4.000000
max     2023.000000      5.000000  299947.000000      5.000000      5.000000

             Price
count  10000.00000
mean    8852.96440
std     3112.59681
min     2000.00000
25%     6646.00000
50%     8858.50000
75%    11086.50000
max    18301.00000
Brand           0
Model           0
Year            0
Engine_Size     0
Fuel_Type       0
Transmission    0
Mileage         0
Doors           0
Owner_Count     0
Price           0
dtype: int64

(None, None, None)

# valores nulos

In [9]:
print(df_data_csv.isnull().sum()[df_data_csv.isnull().sum() > 0])

Series([], dtype: int64)

# valores duplicados

In [10]:
print(df_data_csv.duplicated().sum())

print(f"Filas duplicadas: {df_data_csv.duplicated().sum()}")

0
Filas duplicadas: 0

# valores atipicos

In [11]:
print(df_data_csv.describe())

               Year   Engine_Size        Mileage         Doors   Owner_Count  \
count  10000.000000  10000.000000   10000.000000  10000.000000  10000.000000
mean    2011.543700      3.000560  149239.111800      3.497100      2.991100
std        6.897699      1.149324   86322.348957      1.110097      1.422682
min     2000.000000      1.000000      25.000000      2.000000      1.000000
25%     2006.000000      2.000000   74649.250000      3.000000      2.000000
50%     2012.000000      3.000000  149587.000000      3.000000      3.000000
75%     2017.000000      4.000000  223577.500000      4.000000      4.000000
max     2023.000000      5.000000  299947.000000      5.000000      5.000000

             Price
count  10000.00000
mean    8852.96440
std     3112.59681
min     2000.00000
25%     6646.00000
50%     8858.50000
75%    11086.50000
max    18301.00000

# tipo de datos

In [12]:
print(df_data_csv.dtypes)

Brand            object
Model            object
Year              int64
Engine_Size     float64
Fuel_Type        object
Transmission     object
Mileage           int64
Doors             int64
Owner_Count       int64
Price             int64
dtype: object

# Revisar si hay valores numéricos guardados como texto

In [13]:
for col in ["Year", "Engine_Size", "Mileage", "Doors", "Owner_Count", "Price"]:
    if df_data_csv[col].dtype == "object":
        print(f"⚠️ Problema en {col}: valores no numéricos detectados")

# Revisar si hay espacios en blanco en columnas categóricas

In [14]:
for col in ["Brand", "Model", "Fuel_Type", "Transmission"]:
    df_data_csv[col] = df_data_csv[col].str.strip()

# limpieza de dataset

In [ ]:
import pandas as pd

# Filtrar solo las columnas numéricas
df_numeric = df_data_csv.select_dtypes(include=["number"])

# Calcular el rango intercuartílico (IQR)
Q1 = df_numeric.quantile(0.25)
Q3 = df_numeric.quantile(0.75)
IQR = Q3 - Q1

# Filtrar valores dentro del rango válido
df_clean = df_data_csv[~((df_numeric < (Q1 - 1.5 * IQR)) | (df_numeric > (Q3 + 1.5 * IQR))).any(axis=1)]

# Guardar el dataset limpio
df_clean.to_csv("car_price_dataset_clean.csv", index=False)

print("Valores atípicos eliminados y dataset limpio guardado.")



from IPython.display import display

display(df_clean)  # Muestra el dataset con formato de tabla

Valores atípicos eliminados y dataset limpio guardado.

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342